<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Product Management
  </a>
</nav>
<div class="container">
  <h3>Product List</h3>
  <div class="table-responsive" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Product Name</th>
          <th>Brand Name</th>
          <th>Price</th>
          <th>Extra Price based Color</th>
          <th>Extra price addition</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Electronics</td>
          <td>Mobiles</td>
          <td>Iphone</td>
          <td>33000</td>
          <td>Gold</td>
          <td>1000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>